<div class="wrapper form">
  <div class="container">
    <div class="row">
      <div class="col-xs-12" id="action">
        <h2 class="text-center" id="title">Forgot your password?</h2>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-6 col-xs-offset-3" id="form">
        <%= simple_form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
          <%= f.error_notification %>

          <div class="form-inputs">
            <%= f.input :email, required: true, autofocus: true, placeholder: 'Your email' %>
          </div>

          <div class="form-actions text-center" >
            <%= f.button :submit, "Reset password", id: "btn-forgot-password" %>
          </div>
        <% end %>
        <div class="col-xs-12 text-center">
        <%= render "devise/shared/links" %>
        </div>
      </div>
    </div>
  </div>
</div>
