<div id="category_filter">
  <div class="filter-btn <%= 'active' unless @type %>" id="all">
      <div>All</div>
  </div>
  <div class="filter-btn <%= 'active' if @type == 'photo' %>" id="photos">
      <div>Photos</div>
  </div>
  <div class="filter-btn <%= 'active' if @type == 'text' %>" id="texts">
      <div>Texts</div>
  </div>
  <div class="filter-btn <%= 'active' if @type == 'video' %>" id="videos">
      <div >Videos</div>
  </div>
  <div class="filter-btn <%= 'active' if @order == 'reverse' %>" id="reverse">
      <div>reverse</div>
  </div>
</div>
