<div id="category_filter">
  <div class="filter-btn <%= 'active' unless @category %>" id="all">
    <%= link_to results_path(@provider) do %>
      <div>All</div>
    <% end %>
  </div>
  <div class="filter-btn <%= 'active' if @category == 'from' %>" id="from">
    <%= link_to results_path(@provider, category: 'from') do %>
      <div>From you</div>
    <% end %>
  </div>
  <div class="filter-btn <%= 'active' if @category == 'to' %>" id="to">
    <%= link_to results_path(@provider, category: 'to') do %>
      <div>To you</div>
    <% end %>
  </div>
</div>
