<div id="result_card" class="<%= result.category %> <%= result.privacy %>">
  <div class="card_media">
    <%= image_tag result.picture %>
  </div>
  <div class="card_text">
    <p><%= result.text %></p>
  </div>
  <div class="card_footer text-right">
     <p> <%= result.date.to_time.strftime("%b %Y") if result.date %> </p>
  </div>
</div>
