<div id="result_card" class="<%= result.category %>">
  <div class="header <%= params[:provider] %>">
    <%= image_tag result.avatar, class: "avatar-circle" if result.avatar %>
    <p class="username"><%= result.username  if result.username %></p>
  </div>
  <div class="content">
    <% if result.picture %>
      <%= image_tag result.picture, class: "picture" if result.picture %>
    <% end %>
      <p class="text"><%= result.text if result.text %></p>
    <% if result.description %>
      <p class="description"><%= result.description.delete("[]\"") %></p>
    <% end %>
  </div>
  <div class="footer">
    <p class="likes">
      <% if result.total_likes %>
        <% if result.category.include?("twitter") %>
          <i class="fa fa-retweet" aria-hidden="true"></i>
        <% end %>
          <i class="fa fa-thumbs-up" aria-hidden="true"></i>
        <%= result.total_likes %>
      <% end %>
    </p>
    <p class="created_time">
      <%= result.created_time.to_time.strftime("%b %Y") if result.created_time %>
    </p>
  </div>
</div>

