<div id="page">
  <div id="sidebar">
    <%= render 'shared/sidebar_menu' %>
  </div>

  <div id="category_filter">
    <%= render 'shared/category_filter' %>
  </div>

  <div id="container-reduced">
    <% @results.each do |result| %>
        <%= result.caption %>
        <%= result.created_at %>
        <%= link_to "GO", result.link %>
      <br>
    <% end %>
  </div>
</div>
