<div id="page">
  <div id="side_content">
    <div id="sidebar">
      <%= render 'shared/sidebar_menu', provider: @provider %>
    </div>
    <% if params[:provider] == "facebook" %>
      <div id="category_filter">
        <%= render 'shared/category_filter', provider: @provider %>
      </div>
    <% elsif params[:provider] == "twitter" %>
      <%= render 'shared/category_twitter_filter', provider: @provider %>
    <% else %>
      <div id="category_filter">
        <div class="filter-btn" id="search_again">
          <%= link_to '', new_provider_path(:dr => current_user ), class: "fa fa-search" %>
        </div>
      </div>
    <% end %>
  </div>

  <% if params[:provider] == "facebook"  %>
    <%= render 'shared/privacy_filter' %>
  <% end %>
  <div id="container-reduced">

    <% if @results.size < 1 %>
      <div>
        <p>There is no result at this moment</p>
      </div>
    <% else  %>
      <!-- Muuri grid -->
      <div class="grid">
        <% @results.each do |result|  %>
          <div class="item">
            <div class="item-content">
              <!-- Safe zone, enter your custom markup -->
              <%= link_to result.link do %>
                <% if result.category == "google" %>
                  <%= render 'shared/google_result_card', result: result %>
                <% else %>
                  <%= render 'shared/result_card', result: result %>
                <% end %>
              <% end %>
              <!-- Safe zone ends -->
            </div>
          </div>
        <% end %>
      </div>

      <%= paginate @results, left: 1, right: 1, window: 1  %>

      <% content_for(:after_js) do %>
        <%= javascript_pack_tag 'index_results' %>
      <% end %>

    <% end %>
  </div>
</div>

