<div id="page">
  <div id="side_content">
    <div id="sidebar">
      <%= render 'shared/sidebar_menu', provider: @provider %>
    </div>
    <% if params[:provider] == "facebook"  %>
      <div id="category_filter">
        <%= render 'shared/category_filter', provider: @provider %>
      </div>
    <% end %>

  </div>
  <div id="container-reduced">

    <% if @results.size < 1 %>

      <div id="loading">
        <%= image_tag "loading.gif" %>
        <script>
          setInterval(function(){ location.reload(); }, 3000);
        </script>
      </div>

    <% else  %>

      <% if params[:provider] == "facebook"  %>
        <%= render 'shared/privacy_filter' %>
      <% end %>

      <!-- Muuri grid -->
      <div class="grid">
        <% @results.each do |result|  %>
          <div class="item">
            <div class="item-content">
              <!-- Safe zone, enter your custom markup -->
              <%= link_to result.link , target: '_blank' do %>
                <%= render 'shared/result_card', result: result %>
              <% end %>
              <!-- Safe zone ends -->
            </div>
          </div>
        <% end %>
      </div>
      <% content_for(:after_js) do %>
        <%= javascript_pack_tag 'index_results' %>
      <% end %>


    <% end %>
  </div>
</div>

