<div id="page">
  <div id="side_content">
    <div id="sidebar">
      <%= render 'shared/sidebar_menu', provider: @provider %>
    </div>

    <div id="category_filter">
      <%= render 'shared/category_filter', provider: @provider %>
    </div>
  </div>
  <div id="container-reduced">

    <div class="row">
      <!-- TODO : Iteration on results -->
        <div class="col-xs-12 col-md-8 ">
          <!-- Adapt link!! -->
          <%= link_to 'https://www.facebook.com/10155849735787836/posts/10154334555742836:0', target: '_blank' do %>
            <!-- Pass local to partial -->
            <%= render 'shared/result_card' %>
          <% end %>
        </div>
      </div>

    <!-- Remove this when section above is done -->
    <% @results.each do |result| %>
      <ul class="list-inline">
        <li><%= result.node_id[0..5] %></li>
        <li><%= result.created_time.to_time.strftime("%d %B %Y")  %></li>
        <li><%= image_tag result.picture if result.picture %></li>
        <li><%= image_tag result.attachments if result.attachments %></li>
        <li><%= link_to "GO", result.link, target: '_blank', class: "btn btn-primary" %></li>
      </ul>
      <br>
    <% end %>
  </div>
</div>
