<div id="page">
  <div id="side_content">
    <div id="sidebar">
      <%= render 'shared/sidebar_menu' %>
    </div>

    <div id="category_filter">
      <%= render 'shared/category_filter', provider: @provider %>
    </div>
  </div>
  <div id="container-reduced">
    <% @results.each do |result| %>
      <p>
        <%= result.caption %>
        <%= result.created_at %>
        <%= link_to "GO", result.link, target: '_blank' %>
      </p>
      <br>
    <% end %>
  </div>
</div>
