
<div id="page">
  <div id="side_content">
    <div id="sidebar">
      <%= render 'shared/sidebar_menu', provider: @provider %>
    </div>

    <div id="category_filter">
      <%= render 'shared/category_filter', provider: @provider %>

    </div>
  </div>
  <div id="container-reduced">
    <% if @results.size > 1 %>

      <div id="loading">
        <%= image_tag "loading.gif" %>
        <script>
          // while @results < 1
          //   set_interval
          //   reload
          // end
        </script>
      </div>

    <% else  %>
      <ul id="privacy-filter" class="list-inline">
        <li><button class="filter-btn" id="everyone">Only public</button></li>
        <li><button class="filter-btn" id="friends">Only friends</button></li>
        <li><button class="filter-btn" id="myself">Only me</button></li>
        <li><button class="filter-btn" id="nofilters">No privacy filters</</button>
      </ul>
      <% @results.each do |result|  %>
        <div class="row">
          <div class="col-xs-12 col-md-8 ">
            <%= link_to result.link , target: '_blank' do %>
              <%= render 'shared/result_card', result: result %>
            <% end %>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>
</div>
