<div id="page">
  <div id="side_content">
    <div id="sidebar">
      <%= render 'shared/sidebar_menu', provider: @provider %>
    </div>
    <% if params[:provider] == "facebook" %>
      <div id="category_filter">
        <%= render 'shared/category_filter', provider: @provider %>
      </div>
    <% end %>

    <% if params[:provider] == "twitter" %>
      <%= render 'shared/category_twitter_filter', provider: @provider %>
    <% end %>
  </div>

  <% if params[:provider] == "facebook"  %>
    <%= render 'shared/privacy_filter' %>
  <% end %>

  <div id="container-reduced">
    <div class="grid">

      <% if @results.size < 1 %>
        <div class="no-results">
          <p>There is no result at this moment</p>
        </div>
      <% else  %>
      <!-- Muuri grid -->
        <% @results.each do |result|  %>
          <div class="item">
            <div class="item-content">
              <!-- Safe zone, enter your custom markup -->
              <%= link_to result.link , target: '_blank' do %>
                <%= render 'shared/result_card', result: result %>
              <% end %>
              <!-- Safe zone ends -->
            </div>
          </div>
        <% end %>
      </div>

      <%= paginate @results, left: 1, right: 1, window: 1  %>

      <% content_for(:after_js) do %>
        <%= javascript_pack_tag 'index_results' %>
      <% end %>

    <% end %>
  </div>
</div>

