<!-- START PRELOADER -->
  <div id="preloader">
    <div id="status">&nbsp;</div>
  </div>
  <!-- END PRELOADER -->
  <!-- Return to Top -->
  <a href="javascript:" id="return-to-top"><span class="fa fa-arrow-up" aria-hidden="true"></span></a>
  <div class="banner" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) 50%), url('https://hdwallsource.com/img/2014/9/earth-pictures-23104-23754-hd-wallpapers.jpg');">
    <%= link_to(new_user_session_path) do %>
      <p class="btn btn-signup" id="log">log In</p>
    <% end %>
    <div class="banner-content">
      <div id="logo">
        <ul>
          <li>
            <%= image_tag "white-logo.png", style: "width: 60px; height: 60px;" %>
          </li>
          <li>
            <p>STALK_<span style="color: #87A1DC;">HUB</span></p>
          </li>
        </ul>
      </div>
      <h1 class="text-center" id="title">STALK_<span style="color: #87A1DC;">HUB</span></h1>
       <h4 class="intro-text">What can be found about you on <span class="txt-rotate" data-period="100" data-rotate='[ "Facebook", "Instagram", "LinkedIn", "Twitter","Google"]' style="color: #B27062"></span></h4>
      <%= link_to(new_user_registration_path) do %>
        <p class="btn btn-signup">Discover</p>
      <% end %>
      <div class="row">
        <div class="col-xs-12">
          <div class="mouse-warp">
            <a href="#mouse-here" class="page-scroll">
              <i class="fa fa-angle-down fa-3x" style="color: #FFF;" aria-hidden="true" id="arrow"></i>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>

  </header>
  <!-- end intro header -->
  <div id="mouse-here"></div>
  <!-- only for mouse to fall before the start of the section -->
    <!-- start count stats -->
    <section id="counter-stats">
      <div class="container">
        <div class="row">
          <div class="subtitle">
            <h3 class="text-center">OUR <span style="color: #B27062;">PARTNERS</span></h3>
          </div>
          <div class="col-md-3 col-sm-6 col-xs-12 stats">
            <span class="fa fa-facebook-square" aria-hidden="true"></span>
            <p style="padding-top: 30px;">Facebook</p>
          </div>
          <div class="col-md-3 col-sm-6 col-xs-12 stats">
            <span class="fa fa-instagram" aria-hidden="true"></span>
            <p style="padding-top: 30px;">Instagram</p>
          </div>
          <div class="col-md-3 col-sm-6 col-xs-12 stats">
            <span class="fa fa-twitter" aria-hidden="true"></span>
            <p style="padding-top: 30px;">Twitter</p>
          </div>
          <div class="col-md-3 col-sm-6 col-xs-12 stats">
            <span class="fa fa-linkedin" aria-hidden="true"></span>
            <p style="padding-top: 30px;">Linkedin</p>
          </div>
        </div>
      </div>
    </section>

  <div class="row">
    <div class="subtitle">
      <h3 class="text-center">OUR <span style="color: #B27062;">SERVICES</span></h3>
    </div>
    <div class="col-md-4 col-xs-12 stats">
      <span class="fa fa-users fa-wrapper" aria-hidden="true"></span>
      <h3>Check your public profile</h3>
      <p style= "padding-top: 30px">Did you really protect your privacy on the web ?</p>
    </div>
    <div class="col-md-4 col-xs-12 stats">
      <span class="fa fa-eye" aria-hidden="true"></span>
      <h3>Keep an eye on your social media</h3>
      <p style= "padding-top: 30px">We retrieve all information <br> from different social platform.</p>
    </div>
    <div class="col-md-4 col-xs-12 stats">
      <span class="fa fa-comments-o fa-wrapper" aria-hidden="true"></span>
      <h3>Posts, tweets, photos ...</h3>
      <p style= "padding-top: 30px">We check everything about you.</p>
    </div>
  </div>

  <!-- Team -->

      <div class="container">
        <div class="team">
          <div class="row">
            <div class="subtitle">
              <h3 class="text-center">OUR <span style="color: #B27062;">TEAM</span></h3>
            </div>
            <div class="col-md-3 col-sm-6 col-xs-12 stats">
              <%= image_tag "lucie.jpg", class: "profil-picture"%>
              <p style= "padding-top: 30px";>Lucie Keunen</p>
            </div>
            <div class="col-md-3 col-sm-6 col-xs-12 stats">
              <%= image_tag "clement.jpg", class: "profil-picture"%>
              <p style= "padding-top: 30px";>Clément Bacle</p>
            </div>
            <div class="col-md-3 col-sm-6 col-xs-12 stats">
              <%= image_tag "denis.jpg", class: "profil-picture"%>
              <p style= "padding-top: 30px";>Denis Huang</p>
            </div>
            <div class="col-md-3 col-sm-6 col-xs-12 stats">
              <%= image_tag "gauthier.jpg", class: "profil-picture"%>
              <p style= "padding-top: 30px";>Gauthier Vanderhaegen</p>
            </div>
          </div>
        </div>
      </div>

  <!--  --><!-- end team -->
  <!-- start footer -->
 <div class="footer">
  <div class="footer-links">
    <a href="#"><i class="fa fa-github"></i></a>
    <a href="#"><i class="fa fa-instagram"></i></a>
    <a href="#"><i class="fa fa-facebook"></i></a>
    <a href="#"><i class="fa fa-twitter"></i></a>
    <a href="#"><i class="fa fa-linkedin"></i></a>
  </div>
  <div class="footer-copyright">
    STALK_HUB
  </div>
</div>
  <!-- end footer -->
